@model FaraDosar.Models.Profile
@{
    ViewBag.Title = "Editarea profilului";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg p-5 mt-5">
                <h2 class="text-center mb-4">Editarea profilului</h2>
                <hr />
                @using (Html.BeginForm(actionName: "Edit", controllerName: "Profiles", method: FormMethod.Post, routeValues: new { id = Model.Id }))
                {
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.Label("LastName","Nume")
                        @Html.Editor("LastName", new {htmlAttributes = new {@class = "form-control"} })
                        @Html.ValidationMessage("LastName",null,new { @class = "text-danger"})
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.Label("FirstName","Prenume")
                        @Html.Editor("FirstName", new {htmlAttributes = new {@class = "form-control"} })
                        @Html.ValidationMessageFor(m => m.FirstName,null,new {@class = "text-danger"})
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.Label("CNP","CNP")
                        @Html.Editor("CNP", new {htmlAttributes = new {@class = "form-control"} })
                        @Html.ValidationMessageFor(m => m.FirstName,null,new {@class = "text-danger"})
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.Label("Adresa","Adresa")
                        @Html.Editor("Adresa", new {htmlAttributes = new {@class = "form-control"} })
                        @Html.ValidationMessage("Adresa",null,new { @class = "text-danger"})
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.Label("PhoneNumber", "Numar de telefon")
                        @Html.Editor("PhoneNumber", new {htmlAttributes = new {@class = "form-control"} })
                        @Html.ValidationMessage("PhoneNumber", null, new { @class = "text-danger"})
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.Label("BirthDate", "Data de nastere")
                        @Html.Editor("BirthDate", new {htmlAttributes = new {@class = "form-control", @max = DateTime.Now.ToString("yyyy-MM-dd")}} )
                        @Html.ValidationMessage("BirthDate", null, new { @class = "text-danger"})
                    </div>
                    <br />
                    <div class="form-group text-center">
                        <button class="btn btn-primary px-5 py-2 mt-4" style="background-color : #FFFB7D; color: black;" type="submit">Modifica</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>