@model FaraDosar.Models.Profile
<h2 class="text-center"> Creare Profil </h2>
<br />

@using (Html.BeginForm(actionName: "New", controllerName: "Profiles", method: FormMethod.Post))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    @Html.Label("FirstName","First Name")
    <br />

    @Html.TextBox("FirstName",null,new {@class = "form-control",@placeholder = "What is your name?"})
    <br />

    @Html.ValidationMessageFor(m => m.FirstName,null,new {@class = "text-danger"})

    <br />
    <br />

    @Html.Label("LastName","Last name")
    <br />

    @Html.TextArea("LastName",null,new {@class = "form-control",@placeholder = "What's your last name?"})
    @Html.ValidationMessage("LastName",null,new { @class = "text-danger"})
    <br />

    @Html.Label("Adresa","Adresa")
    <br />

    @Html.TextArea("Adresa",null,new {@class = "form-control",@placeholder = "Adresa dumneavoastra din buletin"})
    @Html.ValidationMessage("Adresa",null,new { @class = "text-danger"})
    <br />

    

    <br />
    <button class="btn mt-5" style="background-color : #FFFB7D" type="submit">Creeaza Profil</button>
}