@model FaraDosar.Models.Profile
@{
    ViewBag.Title = "Profile Configuration";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg p-5 mt-5">
                <h2 class="text-center mb-4">Profile Configuration</h2>
                <hr />
                @using (Html.BeginForm(actionName: "New", controllerName: "Profiles", method: FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data" }))
                {
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.Label("FirstName","Prenume")
                        @Html.TextBox("FirstName",null,new {@class = "form-control",@placeholder = "Introduceti prenumele vostru din buletin"})
                        @Html.ValidationMessageFor(m => m.FirstName,null,new {@class = "text-danger"})
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.Label("LastName","Nume")
                        @Html.TextBox("LastName",null,new {@class = "form-control",@placeholder = "Introduceti numele vostru din buletin"})
                        @Html.ValidationMessage("LastName",null,new { @class = "text-danger"})
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.Label("Adresa","Adresa")
                        @Html.TextBox("Adresa",null,new {@class = "form-control",@placeholder = "Introduceti adresa dumneavoastra din buletin"})
                        @Html.ValidationMessage("Adresa",null,new { @class = "text-danger"})
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.Label("PhoneNumber", "Numar de telefon")
                        @Html.TextBox("PhoneNumber",null,new {@class = "form-control",@placeholder = "Introduceti numarul de telefon"})
                        @Html.ValidationMessage("PhoneNumber", null, new { @class = "text-danger"})
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.Label("BirthDate", "Data de nastere")
                        @Html.TextBoxFor(m => m.BirthDate, "{0:dd/MM/yyyy}", new {@class = "form-control", @placeholder = "Introduceti data de nastere", @type = "date", @max = DateTime.Now.ToString("yyyy-MM-dd")})
                        @Html.ValidationMessage("BirthDate", null, new { @class = "text-danger"})
                    </div>
                    <br />
                   

                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary px-5 py-2 mt-4">Save Changes</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            $('.datepicker').datepicker({
                format: "dd/mm/yyyy",
                todayBtn: "linked",
                language: "ro",
                autoclose: true,
                todayHighlight: true
            });

        });
    </script>
}