@model FaraDosar.Models.Appointment
@{
    ViewBag.Title = "Creare unei inregistrari";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3">

            @using (Html.BeginForm(actionName: "New", controllerName: "Appointments",
            method: FormMethod.Post))
            {

                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                <label>Selectati Adresa</label>
                @Html.DropDownListFor(m => m.LocationId, new SelectList(Model.Locations, "Value", "Text"),
            "Selectati Adresa", new { @class = "form-control" })

                @Html.ValidationMessageFor(m => m.HourId, null, new { @class = "text-danger" })
                <br />

                @*TextBox pentru selectarea datei cu calendar*@
                <div class="form-group">
                    @Html.Label("DateOfAppointmentStart", "Alegeti data la care sa faceti o programare")
                    @Html.TextBoxFor(m => m.DateOfAppointmentStart, "{0:dd/MM/yyyy}", new {@class = "form-control", @placeholder = "Introduceti data la care are loc intalnirea", @type = "date", @min = DateTime.Now.ToString("yyyy-MM-dd")})
                    @Html.ValidationMessage("DateOfAppointmentStart", null, new { @class = "text-danger"})
                </div>

                <label>Selectati Ora</label>
                @Html.DropDownListFor(m => m.HourId, new SelectList(Model.Ore, "Value", "Text"),
            "Selectati Ora", new { @class = "form-control" })

                @Html.ValidationMessageFor(m => m.HourId, null, new { @class = "text-danger" })
                <br />

                @Html.Label("Nume", "Numele persoanei pe care se face programarea")
                <br />
                @Html.TextArea("Nume", "TEST", new { @class = "form-control" })
                @Html.ValidationMessage("Nume", null, new { @class = "text-danger" })
                <br />

                @Html.Label("Prenume", "Prenumele persoanei pe care se face programarea")
                <br />
                @Html.TextArea("Prenume", null, new { @class = "form-control" })
                @Html.ValidationMessage("Prenume", null, new { @class = "text-danger" })
                <br />

                @Html.Label("NrTel", "Numarul de telefon al persoanei pe care se face programarea")
                <br />
                @Html.TextArea("NrTel", null, new { @class = "form-control" })
                @Html.ValidationMessage("NrTel", null, new { @class = "text-danger" })
                <br />

                @Html.Label("CNP", "CNP-ul persoanei pe care se face programarea")
                <br />
                @Html.TextArea("CNP", null, new { @class = "form-control" })
                @Html.ValidationMessage("CNP", null, new { @class = "text-danger" })
                <br />

                <br />


                <br />


                                <button class="btn btn-success"type="submit">Adauga programare</button>

            }

        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            startDate: new Date(),
            autoclose: true
        });
    });
</script>
