<link rel="stylesheet" href="~/css/card.css" />
@if (ViewBag.Message != null)
{
    <h2 class="alert-success p-3 rounded-3 text-center mb-5">@ViewBag.Message</h2>
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Cards/Index">Acasă</a></li>
        <li class="breadcrumb-item active" aria-current="page">Programările mele</li>
    </ol>
</nav>
<div class="container">
    <h1 style="display: flex; justify-content: center">Programările mele</h1>
    <br />
    <div class="row">
        @if (ViewBag.Appointments.Count != 0 )
        {
            @foreach (FaraDosar.Models.Appointment appointment in ViewBag.Appointments)
            {
                <div class="col-sm-4">
                    <div class="card2 shadow p-3 mb-5 bg-white rounded card border-0">
                        <div class="card-body text-center">
                            <div>Adresa: @appointment.Location.Name</div>
                            <div class="card-text mb-3">Data in care aveti programarea: @appointment.DateOfAppointmentStart.ToShortDateString()</div>
                            <div>Ora: @appointment.Hour.Time</div>
                            <div>Nume: @appointment.Nume</div>
                            <div>Prenume: @appointment.Prenume</div>
                            <div>Numar telefon: @appointment.NrTel</div>
                            <div>CNP: @appointment.CNP</div>
                            <br />
                            <form method="post" action="/Appointments/Delete/@appointment.Id">
                                <button class="btn btn-danger" type="submit"><i class="bi bi-trash3"></i>  Șterge</button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <h2>Nu aveti nici o programare!</h2>
        }

        
    </div>
</div>
