
<link rel="stylesheet" href="~/css/card.css" />

<script>
    document.addEventListener('DOMContentLoaded', function (event) {
        // array with texts to type in typewriter
        var dataText = ["Acces rapid.", "Pasi simpli.", "O romanie fara dosar.", "Tu la ce vrei sa dai startul astazi?"];

        // type one text in the typwriter
        // keeps calling itself until the text is finished
        function typeWriter(text, i, fnCallback) {
            // chekc if text isn't finished yet
            if (i < (text.length)) {
                // add next character to h1
                document.querySelector("h1").innerHTML = text.substring(0, i + 1) + '<span aria-hidden="true"></span>';

                // wait for a while and call this function again for next character
                setTimeout(function () {
                    typeWriter(text, i + 1, fnCallback)
                }, 100);
            }
            // text finished, call callback if there is a callback function
            else if (typeof fnCallback == 'function') {
                // call callback after timeout
                setTimeout(fnCallback, 100);
            }
        }
        // start a typewriter animation for a text in the dataText array
        function StartTextAnimation(i) {
            if (typeof dataText[i] == 'undefined') {
                setTimeout(function () {
                    StartTextAnimation(0);
                }, 20000);
            }
            // check if dataText[i] exists
            if (i < dataText[i].length) {
                // text exists! start typewriter animation
                typeWriter(dataText[i], 0, function () {
                    // after callback (and whole text has been animated), start next text
                    StartTextAnimation(i + 1);
                });
            }
        }
        // start the text animation
        StartTextAnimation(0);
    });


</script>


<div class="card bg-white text-black">
    <div class="banner" style="text-align: center">
        <h1>
            Tu la ce vrei sa dai startul astazi?
        </h1>
    </div>
    <hr />

    <div class="descriere" style="font-size: 19px; width: 1000px; text-align: center; margin: auto;">
        <p>
            Am creat această platformă pentru tine. Indiferent de ce vrei să faci în continuare, aici găsești toate documentele de care ai nevoie. În plus, le poți trimite direct, fără să mai trebuiască să stai la coadă la ghișeu.
            <br />
            <br />
            Ești adult. Tocmai ce ai absolvit liceul și nu știi ce să faci de acum încolo. Să-ți continui educația? Să te angajezi? Sau să-ți deschizi propria afacere?
            <br />
            <br />
            În cazul în care ai nevoie de suport din partea instituțiilor, sau vrei să depui documentele fizic, te poți programa pentru oricare dintre serviciile prezente pe platformă.
            Alege serviciul pentru care vrei o programare, introdu datele necesare și selectează ziua și ora dorite de tine. Ai și posibilitatea de a programa o altă persoană.

        </p>
    </div>
    @if (!User.Identity.IsAuthenticated)
    {
        <p style="background-color: yellow; text-align: center; font-size: 24px; color: red;">PENTRU A PUTEA FACE O PROGRAMARE, TREBUIE SA FII LOGAT!</p>
    }
</div>
<br />
<br />
<div class="container">
    <div class="row no-gutters mt-3 align-items-center" style="margin-left: 17vw;">
        <div class="col col-md-4">
            <input class="form-control border-secondary rounded-pill pr-5" type="search" value="search" id="example-search-input2" style="width: 700px;">
        </div>
    </div>
</div>
<br />
<br />
<div class="container">
    <div class="row">
        @foreach (FaraDosar.Models.Card card in ViewBag.Cards)
        {
            @if (card.Id == 1)
            {
                <div class="col-sm-4">
                    <div class="card2 shadow p-3 mb-5 bg-white rounded card border-0 text-black">
                        <div style="justify-content: center; display: flex;">
                            <img src="~/img/University.png" style="height: 100px; width: 110px;">
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title mb-0" style="font-size: 35px;">@card.Title</h5>
                            <div class="card-text mb-3" style="margin-top: 90px;">@card.Content</div>
                            <a href="/Cards/Show/@card.Id" class="buton rounded-pill" style="margin-top: 24px;">Citeste mai departe</a>
                        </div>
                    </div>
                </div>
            }
            @if (card.Id == 2)
            {
                <div class="col-sm-4">
                    <div class="card2 shadow p-3 mb-5 bg-white rounded card border-0 text-black">
                        <div style="justify-content: center; display: flex;">
                            <img src="~/img/Job.png" style="height: 100px; width: 110px;">
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title mb-0" style="font-size: 35px">@card.Title</h5>
                            <div class="card-text mb-3" style="margin-top: 48px;">@card.Content</div>
                            <a href="/Cards/Show/@card.Id" class="buton rounded-pill">Citeste mai departe</a>
                        </div>
                    </div>
                </div>
            }
            @if (card.Id == 3)
            {
                <div class="col-sm-4">
                    <div class="card2 shadow p-3 mb-5 bg-white rounded card border-0 text-black">
                        <div style ="justify-content: center; display: flex;">
                            <img src="~/img/Money.png" style="height: 100px; width: 110px;">
                        </div>

                        <div class="card-body text-center">
                            <h5 class="card-title mb-0" style="font-size: 35px">@card.Title</h5>
                            <div class="card-text mb-3" style="margin-top: 48px;">@card.Content</div>
                            <a href="/Cards/Show/@card.Id " class="buton rounded-pill" style="margin-top: 24px;">Citeste mai departe</a>
                        </div>
                    </div>
                </div>
            }

        }

    </div>
</div>
